common --enable_bzlmod

# Optional opt-in wrapper for sanitizer experiments.
build:sanitize_wrapper --repo_env=CC=./tools/clang_sanitize_fuse_ld.sh
build:sanitize_wrapper --repo_env=CXX=./tools/clang_sanitize_fuse_ld.sh
