common --enable_bzlmod
common --repo_env=CC=/Users/dorran/dev/clickhouse-patching/clickshack/tools/clang_sanitize_fuse_ld.sh
common --repo_env=CXX=/Users/dorran/dev/clickhouse-patching/clickshack/tools/clang_sanitize_fuse_ld.sh
